<p><%= current_user.email %>의 페이지</p>
<a href="/users/sign_out" data-method = "delete">로그아웃</a>
<a href="/service/<%=current_user.id%>/setting">설정</a>

<div class="gridster">

    <ul>
    </ul>
</div>

<button class = "status"> 배치 저장 </button>

<script>
function myFunction(a) {
  var x = document.getElementById(a);
  if (x.style.display === "none") {
      x.style.display = "block";
  } else {
      x.style.display = "none";
  }
}
$(function(){ //DOM Ready
    var gridster;
    var position;

    gridster = $(".gridster ul").gridster({
        widget_margins: [10, 10],
        widget_base_dimensions: [280, 280]
    }).data('gridster');

    <% @service.each do |service|%>
        <% if service.id_service == 0 %>
            gridster.add_widget('<li class="new">  <%="#{render 'service/weather'}".gsub(/\n/,"").html_safe%> </li>',<%=service.size_x%>,<%=service.size_y%>,<%=service.position_x%>,<%=service.position_y%>);
        <% elsif service.id_service == 1 %>
            gridster.add_widget('<li class="new">  <%="#{render 'service/movie'}".gsub(/\n/,"").html_safe%> </li>',<%=service.size_x%>,<%=service.size_y%>,<%=service.position_x%>,<%=service.position_y%>);
        <% elsif service.id_service == 2 %>
            gridster.add_widget('<li class="new">  <%="#{render 'service/music'}".gsub(/\n/,"").html_safe%> </li>',<%=service.size_x%>,<%=service.size_y%>,<%=service.position_x%>,<%=service.position_y%>);
        <% elsif service.id_service == 3 %>
            gridster.add_widget('<li class="new">  <%="#{'주식'}".gsub(/\n/,"").html_safe%> </li>',<%=service.size_x%>, <%=service.size_y%>,<%=service.position_x%>,<%=service.position_y%>);
        <% elsif service.id_service == 4 %>
            gridster.add_widget('<li class="new">  <%="#{render 'service/luck'}".gsub(/\n/,"").html_safe%> </li>',<%=service.size_x%>,<%=service.size_y%>,<%=service.position_x%>,<%=service.position_y%>);
        <% elsif service.id_service == 5 %>
            gridster.add_widget('<li class="new">  <%="#{render 'service/wise'}".gsub(/\n/,"").html_safe%> </li>',<%=service.size_x%>,<%=service.size_y%>,<%=service.position_x%>,<%=service.position_y%>);
        <% elsif service.id_service == 6 %>
            gridster.add_widget('<li class="new">  <%="#{render 'posts/new'}".gsub(/\n/,"").html_safe%> </li>',<%=service.size_x%>,<%=service.size_y%>,<%=service.position_x%>,<%=service.position_y%>);
        <% end %>
          <% if service.sequence>@user.service_number-1 %>
            <% break %>
        <% end %>
    <% end %>

    $('.status').on('click',function(){
        position =gridster.serialize();
        $.ajax({
            url: "/service/<%=current_user.id%>/allocate",
            method: "POST",
            data: {
                position: position
            }
        });
    });
});
</script>