<p><%= current_user.email %>의 페이지</p>
<a href="/users/sign_out" data-method = "delete">로그아웃</a>
<div class="gridster">
    <ul>
    </ul>
</div>

<button class = "status"> 배치 저장 </button>

<script>
$(function(){ //DOM Ready
    var gridster;
    var position;

    gridster = $(".gridster ul").gridster({
        widget_margins: [10, 10],
        widget_base_dimensions: [280, 280]
    }).data('gridster');

    <% @service.each do |service|%>
        gridster.add_widget('<li class="new"><%= service.sequence %></li>',<%=service.size_x%>, <%=service.size_y%>,<%=service.position_x%>,<%=service.position_y%>);
        <% if service.sequence>@user.service_number %>
            <% break %>
        <% end %>
    <% end %>

    $('.status').on('click',function(){
        position =gridster.serialize();
        $.ajax({
            url: "/service/<%=current_user.id%>/allocate",
            method: "POST",
            data: {
                position: position
            }
        });
    });
});
</script>
