<div id = "main_page">
<i class="fas fa-code fa-3x"></i><%= current_user.email %>의 페이지<br /><br />
<div>
<a href="/users/sign_out" data-method = "delete">로그아웃</a>
<a href="/service/<%=current_user.id%>/setting">설정</a>
<button class = "status btn btn-outline-secondary"> 배치 저장 </button>
</div>
<br>
<div class="gridster">

    <ul>
    </ul>
</div>

<script>
function myFunction(a) {
  var x = document.getElementById(a);
  if (x.style.display === "none") {
      x.style.display = "block";
  } else {
      x.style.display = "none";
  }
}
$(function(){ //DOM Ready
    var gridster;
    var position;

    gridster = $(".gridster ul").gridster({
        widget_margins: [10, 10],
        widget_base_dimensions: [280, 280]
    }).data('gridster');

    <% @service.each do |service|%>
        <% if service.id_service == 0 %>
            gridster.add_widget('<li class="new">  <%="#{render 'service/weather'}".gsub(/\n/,"").html_safe%> </li>',<%=service.size_x%>,<%=service.size_y%>,<%=service.position_x%>,<%=service.position_y%>);
        <% elsif service.id_service == 1 %>
            gridster.add_widget('<li class="new">  <%="#{render 'service/movie'}".gsub(/\n/,"").html_safe%> </li>',<%=service.size_x%>,<%=service.size_y%>,<%=service.position_x%>,<%=service.position_y%>);
        <% elsif service.id_service == 2 %>
            gridster.add_widget('<li class="new">  <%="#{render 'service/music'}".gsub(/\n/,"").html_safe%> </li>',<%=service.size_x%>,<%=service.size_y%>,<%=service.position_x%>,<%=service.position_y%>);
        <% elsif service.id_service == 3 %>
            gridster.add_widget('<li class="new">  <%="#{'주식'}".gsub(/\n/,"").html_safe%> </li>',<%=service.size_x%>, <%=service.size_y%>,<%=service.position_x%>,<%=service.position_y%>);
        <% elsif service.id_service == 4 %>
            gridster.add_widget('<li class="new">  <%="#{render 'service/luck'}".gsub(/\n/,"").html_safe%> </li>',<%=service.size_x%>,<%=service.size_y%>,<%=service.position_x%>,<%=service.position_y%>);
        <% elsif service.id_service == 5 %>
            gridster.add_widget('<li class="new">  <%="#{render 'service/wise'}".gsub(/\n/,"").html_safe%> </li>',<%=service.size_x%>,<%=service.size_y%>,<%=service.position_x%>,<%=service.position_y%>);
        <% elsif service.id_service == 6 %>
           gridster.add_widget('<li class="new container"><%@posts.each do |p|%><div id= <%=p.id.to_s %> class="custom-control custom-checkbox "> <input type="checkbox" class="custom-control-input" id=<%="customCheck"+p.id.to_s%> /> <label class="custom-control-label" for=<%="customCheck"+p.id.to_s%>><b>할 일: </b><%=p.title%><b>내용: </b><%=p.content%></label>     <a href="/destroy/<%=p.id%>" class=" w-10 h-25 btn btn-outline-danger btn-sm" data-confirm="Are you sure?<%=p.id%>" data-method="delete"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span><span><strong>Del</strong></span></a><button class="w-20 h-25 btn btn-outline-primary btn-sm "onclick="myFunction(<%=p.id%>)">Done</button></div><%end%> <%="#{render '/posts/new'}".gsub(/\n/,"").html_safe%></li>',<%=service.size_x%>,<%=service.size_y%>,<%=service.position_x%>,<%=service.position_y%>);

        <% end %>
          <% if service.sequence>@user.service_number-1 %>
            <% break %>
        <% end %>
    <% end %>

    $('.status').on('click',function(){
        position =gridster.serialize();
        $.ajax({
            url: "/service/<%=current_user.id%>/allocate",
            method: "POST",
            data: {
                position: position
            }
        });
    });
});
</script>
</div>