<form action="/service/<%=@user.id%>/save" method="post">
    <h3>위젯 설정</h3>
    <label>사용 위젯 개수: </label>
    <select name = "service_number" class = "custom-select mr-sm-2">
    <% 8.times do |i| %>
        <option value=<%=i+1%> <%= 'selected' if i+1 == @user.service_number %>><%= i+1 %></option>
    <% end %>
    </select>
    <br>
    <br>
    <% 8.times do |i| %>
        <label><%= i+1 %>번 위젯: </label>
        <select name = "widget_<%=i+1%>">
            <option value=<%=0%> <%= 'selected' if @service[i].id_service == 0 %>>날씨</option>
            <option value=<%=1%> <%= 'selected' if @service[i].id_service == 1 %>>영화</option>
            <option value=<%=2%> <%= 'selected' if @service[i].id_service == 2 %>>음악</option>
            <option value=<%=3%> <%= 'selected' if @service[i].id_service == 3 %>>주가</option>
            <option value=<%=4%> <%= 'selected' if @service[i].id_service == 4 %>>운세</option>
            <option value=<%=5%> <%= 'selected' if @service[i].id_service == 5 %>>명언</option>
            <option value=<%=6%> <%= 'selected' if @service[i].id_service == 6 %>>할일</option>
        </select>
    <% end %>
    <br><br>
    <h4>위젯 크기</h4>
    <h5>가로 크기</h5>
    <% 8.times do |i| %>
        <label><%= i+1 %>번 위젯: </label>
        <select name = "sizex_<%=i+1%>">
            <option value=<%=1%> <%= 'selected' if @service[i].size_x == 1 %>>1</option>
            <option value=<%=2%> <%= 'selected' if @service[i].size_x == 2 %>>2</option>
            <option value=<%=3%> <%= 'selected' if @service[i].size_x == 3 %>>3</option>
            <option value=<%=4%> <%= 'selected' if @service[i].size_x == 4 %>>4</option>
        </select>
    <% end %>

    <h5>세로 크기</h5>
    <% 8.times do |i| %>
        <label><%= i+1 %>번 위젯: </label>
        <select name = "sizey_<%=i+1%>">
            <option value=<%=1%> <%= 'selected' if @service[i].size_y == 1 %>>1</option>
            <option value=<%=2%> <%= 'selected' if @service[i].size_y == 2 %>>2</option>
            <option value=<%=3%> <%= 'selected' if @service[i].size_y == 3 %>>3</option>
            <option value=<%=4%> <%= 'selected' if @service[i].size_y == 4 %>>4</option>
        </select>
    <% end %>

    <hr>
    <h3>날씨 정보</h3>
        <label>지역 : </label><input type="text" name="location" value=<%=@user.location%>> <br>
    <hr>
    <h3>음악 정보</h3>
    <label>음원 사이트</label>
    <select name = "music_site">
        <option value="Melon" <%= 'selected' if "Melon" == @user.music_site %>>Melon</option>
        <option value="Bugs" <%= 'selected' if "Bugs" == @user.music_site %>>Bugs</option>
        <option value="Genie" <%= 'selected' if "Genie" == @user.music_site %>>Genie</option>
    </select>

    <hr>
    <h3>주식 정보</h3>
    <label>종목 설정</label>
    <input type="text" name="stock_event" value = <%= @user.stock_event %>>

    <hr>
    <h3>운세 정보</h3>
    <label>생년: </label>
    <select name = "fortune_year">
    <% 1900.upto(2018) do |i| %>
        <option value=<%=i%> <%= 'selected' if i == @user.fortune_year %>><%= i %></option>
    <% end %>

    <input type="hidden" name="authenticity_token" value= "<%=form_authenticity_token%>">
    <hr>
    <input type="submit" value="제출">
</form>